<div class="front-page" id="front-page">
	<div class="ms-main-box main-box">
		<h3>Minesweeper</h3>
		<button class="play" routerLink="/minesweeper" onclick="collapseMainBox()">Play</button>
		<img src="../assets/Temp-Minesweeper-Icon.jpeg" alt="Minesweeper Image" height="200px" class="icon">
	</div>
	<div class="s-main-box main-box">
		<h3>Sudoku</h3>
		<button class="play" routerLink="/sudoku">Play</button>
		<img src="../assets/Temp-Sudoku-Icon.png" alt="Minesweeper Image"  height="200px" class="icon">
	</div>
	<div class="n-main-box main-box">
		<h3>Nonagram</h3>
		<button class="play" routerLink="/nonogram">Play</button>
		<img src="../assets/Temp-Nonogram-Icon.jpeg" alt="Minesweeper Image" height="200px" class="icon">
	</div>
</div>
