<head>
	<title>{{title}}</title>
	
</head>

<h1 class="title">Minesweeper</h1>
<div class="main">
	<div class="generate col">
		<form (submit)="setupGame(width, height, mines)">
			<label class="input">
				Width:
				<input type="number" name="mWidth" class="input" [(ngModel)]="width" step="1" max="20"
					   ng-pattern="integerval" required />
			</label>
			<label class="input">
				Height:
				<input type="number" name="mHeight" class="input" [(ngModel)]="height" step="1" max="20"
					   ng-pattern="integerval" required />
			</label>
			<label class="input">
				Mines:
				<input type="number" name="mMines" class="input" [(ngModel)]="mines" step="1" max="20"
					   ng-pattern="integerval" required />
			</label>
			<button class="generatebutton button">Generate New Game</button>
		</form>
		<button class="checkButton button" (click)="validate()">Check Game</button>
		<p class="correct" *ngIf="hasWon == true">Correct!</p>
		<p class="incorrect" *ngIf="hasWon == false">Incorrect!</p>
	</div>

	<div class="puzzle col">
		<main>
			<table style="float:left" id='game' *ngIf="cells">
				<tbody>
					<tr *ngFor="let row of cells; let r = index">
						<td *ngFor="let cell of row; let c = index"
							(click)="onLClick(c,r)"
							(contextmenu)="onRClick($event, c, r)">
							<button class="cell hidden" *ngIf="solution[c][r] == 0">-</button>
							<button class="cell shown" *ngIf="solution[c][r] == 1">{{cell}}</button>
							<button class="cell flagged" *ngIf="solution[c][r] == 2 || solution[c][r] == 3">X</button>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
	</div>

</div>