.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    
}

.col{
    float: left;
    width: 33.33%
}
.main{
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.generate {
    display: inline-block;
    margin: 40px;
    margin-left: 100px;
    width: 25%;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px;
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
}

.input{
    display: block;
}

.generatebutton{
    display: block;
    margin-top: 10px;
    

    background-color: white;
    border-color: #b3b3ff;
    border-radius: 0px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px;
}
    .generatebutton:hover{
        background-color: #b3b3ff;

    }

.puzzle{
    display: inline;
    margin: auto;
}


.cell {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

.correctSolution {
    color: green;
}

.invalid, .incorrectSolution {
    color: red;
}

.clue {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

.puzzle col{
    white-space: nowrap;
}

.top {
    height: 10px;
}

.left {
    width: 10px;
    height: 25px;
}

.filled {
    background-color: black;
}

.empty {
    background-color: white;
    color: red;
}

.undefined {
    background-color: white;
}

.checkButton{
    display: inline-block;
    margin-top: 10px;
    

    background-color: white;
    border-color: #b3b3ff;
    border-radius: 0px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px;
}
    .checkButton:hover{
        background-color: #b3b3ff;
    }