<h1 class="title">Sudoku</h1>
    <button (click)="setDifficulty()">Difficulty</button>
    <p class="correctSolution" *ngIf="difficulty == 1">Easy</p>
    <p class="correctSolution" *ngIf="difficulty == 2">Medium</p>
    <p class="correctSolution" *ngIf="difficulty == 3">Hard</p>
    <p class="correctSolution" *ngIf="difficulty == 4">Expert</p>
    <button (click)="generatePuzzle(difficulty)">Generate New Puzzle</button>
<main>
    <table style="float: left" id='game' *ngIf="squares">
        <tbody>
            <tr *ngFor="let row of squares; let r = index">
                <td *ngFor="let cell of row; let c = index">
                    <input 
                        type="number"
                        onkeypress="if(this.value.length>=1) return false"
                        oninput="if(value>9||value<1&&value!='') alert('invalid entry')"
                        min="1"
                        max="9" 
                        placeholder="cell"
                    />
                    <!--
                        How to get rid of e input?
                        -->
                </td>
            </tr>
        </tbody>
    </table>
</main>

<!--code to make an input form for sudoku puzzles
<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input
          type="number"
          oninput="if(value>9||value<1&&value!='') alert('invalid entry')"
          matInput
          placeholder=""
        />
      </mat-form-field></form
  ></mat-grid-tile>
</mat-grid-list>
v-->
