<h1 class="title">Sudoku</h1>
	<div class="fields">
	    <button (click)="setDifficulty()" class="generatebutton">Difficulty</button>
	    <p class="correctSolution" *ngIf="difficulty == 4" style="color: green">Easy</p>
	    <p class="correctSolution" *ngIf="difficulty == 3.5" style="color:blue">Medium</p>
	    <p class="correctSolution" *ngIf="difficulty == 3" style="color:red">Hard</p>
	    <p class="correctSolution" *ngIf="difficulty == 2.5" style="color:black">Expert</p>
	    <button (click)="generatePuzzle(difficulty)" class="generatebutton">Generate New Puzzle</button>
	    <button (click)="validate()" class="generatebutton">Check Puzzle</button>
	    <p class="correctSolution" *ngIf="solved==true">Correct!</p>
	      <p class="incorrectSolution" *ngIf="solved==false">There may be mistakes in the puzzle</p>
      	</div>
<main>
<table class="puzzle" *ngIf="squares">
    <tbody>
        <tr *ngFor="let row of squares; let r = index">
            <td *ngFor="let cell of row; let c = index" class="{{r % 3 == 0 ? 'rowThickBorder' : ''}} {{c%3==0?'colThickBorder':''}} {{r%8 ==0&&r!=0?'endRow':''}} {{c%8==0&&c!=0?'endCol':''}}">
                <input 
                    type="number"
                    min="1"
                    max="9" 
		    maxlength="1"
                    [value] = "cell.value == 0 ? '' : cell.value"
		    [readonly]="cell.generated"
		    (keyup)="!cell.generated ? update($event.keyCode,r,c) : ''"
	
		    oninput="if(value>9||value<1&&value!='') {
					alert('invalid entry ' + value) 
		    			value = ''
		    		}"
		    [style] = "cell.generated ? 'font-weight:bold' : ''"
		    tabindex = "-1"
                />
                <!--
                    How to get rid of e input?
                    -->
            </td>
        </tr>
    </tbody>
</table>
</main>
